*{
    margin:0;
    padding:0;
}
/*textbox前面的图标*/
.icon-user{
    position: absolute;
    z-index:5;
    background-image: url("image/user.png"); /*引入图片图片*/
    background-repeat: no-repeat; /*设置图片不重复*/
    background-position: left center; /*图片显示的位置*/
    width: 30px; /*设置图片显示的宽*/
    height: 100%; /*图片显示的高*/
    left:10px;

}


/*textbox的输入框*/
.input-text{
/*padding:10px;*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:1px solid gray;
    width:100%;
    height: 40px;
    text-indent: 30px;
    background-color:hsla(0,0%,71%,.1);
}
/*textbox的包围框*/
.div-bor{
    position: relative;
    width: 300px;
    /*border:1px solid green;*/
}

.icon-pwd{
    position: absolute;
    z-index:5;
    background-image: url("image/pwd.png"); /*引入图片图片*/
    background-repeat: no-repeat; /*设置图片不重复*/
    background-position: left center; /*图片显示的位置*/
    width: 30px; /*设置图片显示的宽*/
    height: 100%; /*图片显示的高*/
    left:10px;
}

.big-button{
    width:100%;
    height: 40px;
    background-color: rgb(6,147,205);
    border-radius: 20px;
    border:none;
    margin:20px 0;
    color:white;
    font-size: 18px;
}

.login-container{
    width:300px;
    margin:auto;
}

.main{
    width:400px;
    /*border:1px solid pink;*/
    display: table-cell;
    vertical-align: center;
    horiz-align: center;
    margin:30px auto 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 8px  rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,0.1);
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    background-color:#fff;
    padding:50px;
}

.sign{
    background-color:#f1f1f1;
    height: 100%;
    min-height: 750px;
    text-align: center;
}