/*textbox前面的图标*/
.icon-user{
    position: absolute;
    z-index:5;
    background-image: url("image/user.png"); /*引入图片图片*/
    background-repeat: no-repeat; /*设置图片不重复*/
    background-position: left center; /*图片显示的位置*/
    width: 30px; /*设置图片显示的宽*/
    height: 100%; /*图片显示的高*/
    left:10px;
    margin-bottom: 0;
}


/*textbox的输入框*/
.input-text{
    padding:5px 5px 5px 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:1px solid gray;
    width:100%;
    height: 40px;
}
/*textbox的包围框*/
.div-bor{
    position: relative;
    width: 300px;
}

.icon-pwd{
    position: absolute;
    z-index:5;
    background-image: url("image/pwd.png"); /*引入图片图片*/
    background-repeat: no-repeat; /*设置图片不重复*/
    background-position: left center; /*图片显示的位置*/
    width: 30px; /*设置图片显示的宽*/
    height: 100%; /*图片显示的高*/
    left:10px;
}

.big-button{
    width:100%;
    height: 40px;
    background-color: rgb(6,147,205);
    border-radius: 20px;
    border:none;
}

.login-container{
    width:300px;
}